<div>
    <router-outlet name="navbar"></router-outlet>
</div>

<div class="container-fluid">
    <div class="card jh-card">
        <router-outlet></router-outlet>
        <router-outlet name="popup">







            <figure class="snip0057 red">
                <figcaption>
                    <h2><span>Building Microservices</span><h6> Designing Fine-Grained Systems</h6></h2>
                    <p>Completely updated for C# 6.0, the new edition of this bestseller offers more than 150 code recipes to common and not-so-common problems that C# programmers face every day. More than a third of the recipes have been rewritten to take...</p>
                    <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
                </figcaption>
                <div class="image"><img src="http://samnewman.io/img/book.jpg" alt="sample4" height="360"/></div>
                <div class="position">PDF</div>
            </figure>
            <figure class="snip0057 blue">
                <figcaption>
                    <h2><span>Clean Code</span><h6> A Handbook of Agile Software Craftsmanship</h6></h2>
                    <p>Completely updated for C# 6.0, the new edition of this bestseller offers more than 150 code recipes to common and not-so-common problems that C# programmers face every day. More than a third of the recipes have been rewritten to take...</p>
                    <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
                </figcaption>
                <div class="image"><img src="https://images-na.ssl-images-amazon.com/images/I/81ij33Di6RL.jpg" alt="sample3" height="360"/></div>
                <div class="position">MOBI</div>
            </figure>
            <figure class="snip0057 yellow">
                <figcaption>
                    <h2><span>C# 6.0 Cookbook, 4th Edition</span><h6> Solutions for C# Developers</h6></h2>
                    <p>Completely updated for C# 6.0, the new edition of this bestseller offers more than 150 code recipes to common and not-so-common problems that C# programmers face every day. More than a third of the recipes have been...</p>
                    <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
                </figcaption>
                <div class="image"><img src="https://kbimages1-a.akamaihd.net/699ec924-1d51-4453-bb7c-1b97cfb12809/1200/1200/False/clean-code.jpg" alt="sample3" height="360"/></div>
                <div class="position">EPUB</div>
            </figure>







        </router-outlet>
    </div>
</div>

<jhi-footer></jhi-footer>
