<link href="//fonts.googleapis.com/css?family=Hind" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span><img src="https://www.shareicon.net/data/128x128/2016/09/23/833080_book_512x512.png" height="36"/></span><span class="text-warning"> V</span>irtual<span class="text-warning">L</span>ibrary
            </a>
        </div>

        <div class="row">

            <div class="nav navbar-header navbar-right" id="sk-top-welcome">
                <ul class="nav navbar-header navbar-right">

                    <li><a class="navbar-brand" href="#"><button type="button" class="btn btn-danger btn-margin-right navbar-btn"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign in</button></a></li>

                    <li><a class="navbar-brand" href="#"><button type="button" class="btn btn-success btn-margin-right navbar-btn">Register</button></a></li>
                </ul>
            </div>

            <div class="nav navbar-header navbar-right" id="sk-top-modules">
                <ul class="nav navbar-header navbar-right">
                    <li><a class="navbar-brand" href="#"><i class="fa fa-comments" aria-hidden="true"></i> Forums</a></li>

                    <li><a class="navbar-brand" href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Shop</a></li>

                    <li><a class="navbar-brand" href="#"><i class="fa fa-plug" aria-hidden="true"></i> Extensions</a></li>
                </ul>
            </div>

        </div>
    </div>
</nav>
